<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your ToDo List App</title>
  <!--Custom fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Merriweather:wght@400;700&family=Roboto&display=swap" rel="stylesheet" />
  <!--CSS Static Stylesheet-->
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home List</a>
      <a href="/work">Work List</a>
    </nav>
  </header>